pydantic
pydantic[email]
#tomllib
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml
pypdf
bs4
streamlit
openai
dotenv
langchain_huggingface
langchain_google_genai
faiss-cpu
langchain-pinecone

#for multimodal RAG
unstructured[all-docs] 
poppler-utils
tesseract
langchain_milvus

pymilvus
pymupdf

wikipedia
youtube_search

langgraph
langchain-chromadb



